body{
    padding:20px;
}


.jumbotron {
    background-image: url(/img/jumbo_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

.container-2 {
    padding-top: 30px;
}

h3 {
    padding: 20px;
    text-align: center;
    margin-bottom:0px;
}


.card-text {
    padding: 20px;
}

/* cards */

.card {
    margin-top: 30px;
    border-radius: 20px;
}

.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}